<link rel="stylesheet" href="{{ asset('build/app.css') }}" type="text/css">

{% block body %}
    <form class="c-login bordered" name="authenticate" action="{{ path('login') }}" method="post">
        <label class="c-login__user" for="user_email">Потребител:</label>
        <input class="c-login__user-inp" aria-label="" value="{{ user.username|default(null) }}" id="user_username"
               name="_username" autofocus>
        <label class="c-login__pass" for="password">Парола:</label>
        <input class="c-login__pass-inp" type="password" id="password" placeholder="Password" name="_password">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <button class="c-login__login-btn" name="submit_login" type="submit">Вход</button>
    </form>
{% endblock %}	 
