input,
textarea {
    padding-left: 0.3em;
}

.add-client {
    width: 53.4em;
    margin: 10px auto 0 auto;
    background: rgba(103, 143, 86, 0.44);
    border-radius: 0.3em;
    border: 1px solid;
}

.add-client-name,
.add-client-zone,
.add-client-region,
.add-client-save,
.add-client-address,
.client-save,
.client,
.client-name,
.client-zone,
.client-region,
.client-address {
    border-radius: 0.3em;
    border: 1px solid;
}

.add-client-name {
    width: 30em;
    margin: 3px 0 3px 3px;
}

.add-client-address {
    width: 52.9em;
    margin: 0 3px 3px 3px;
}

.add-client-region{
    width: 12em;
}

.add-client-save {
    position: absolute;
    background: rgba(84, 103, 0, 0.46);
    width: 2em;
    cursor: pointer;
    margin: 3px;
}

.client {
    display: grid;
    width: 80em;
    margin: 10px auto 0 auto;
    background: rgba(181, 143, 4, 0.19);
}

.client-name {
    margin: 3px 0 0 3px;
    grid-column: 1 / span 3;
    grid-row: 1;
    width: 24.3em;
}

.client-region{
    margin: 3px 3px 3px 0;
    width: 13.26em;
    grid-column: 2;
    grid-row: 2 / span 2;
}

.client-zone {
    margin: 3px;
    width: 8.6em;
    grid-column: 1;
    grid-row: 2 / span 2;
}

.client-address {
    margin: 3px;
    grid-column: 4;
    grid-row: 1 / span 3;
    width: 55em;
}

.client-save{
    width: 2em;
    margin: 3px 0;
    grid-column: 3;
    grid-row: 2 / span 2;
    /*padding: 1em;*/
    cursor: pointer;
    background: rgba(154, 181, 154, 0.67);
}

.search {
    padding: 3px;
    background: rgba(208, 208, 0, 0.21);
    width: 41.9em;
    margin: 1em auto;
}

.search-client,
.search-address {
    display: inline-block;
}

.search-client {
    padding-right: 2em;
}

.search-address-btn,
.search-client-btn {
    background: rgba(174, 158, 21, 0.36);
    padding: 0.22em 0.4em;
}