.site {
    max-width: 100%;
    margin: 0 auto;
    background: #F0F0F0;
}

input:focus,
select:focus,
textarea:focus {
    background: rgba(255, 140, 0, 0.24);
}

button,
.message,
.add-event,
.add-event-save,
.event,
.event-birthday,
.event-day,
.note-area,
.other-notes,
.event-edit,
.event-delete,
.search,
.telephone {
    border-radius: 0.3em;
    border: 1px solid #000;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);
}

.message,
.add-event,
.telephone {
    width: 51.5em;
}

.date {
    width: 6.5em;
}

.days-remaining {
    width: 2em;
}

.hide {
    width: 20px;
    height: 20px;
}

.message {
    margin: 0.2em auto;
    background: rgba(224, 238, 182, 0.74);
    color: #1b1e21;
    padding: 0 0 0.2em 1em;
}

.message > div {
    display: inline-block;
}

.message-name {
    min-width: 40%;
}

.message-date {
    width: 20%;
}

.message-much-time {
    width: 30%;
}

.event-site{
    margin-bottom: 4em;
}

.add-event {
    border: 1px solid #8f6f04;
    margin: 0.7em auto 1em auto;
    background: rgba(238, 237, 165, 0.39);
    padding: 0.5em;
}

.add-event-name,
label {
    margin: 0.3em;
    padding: 0.1em;
}

.add-event-name {
    width: 49.5em;
}

.add-event-save {
    background: rgba(32, 116, 61, 0.28);
    padding: 0.1em 0.5em 0.1em 0.5em;
}

.event,
.event-birthday,
.event-day {
    margin: 0.3em auto 0 auto;
    width: 76em;
    padding: 0.3em 0.2em 0.3em 0.2em;
    background: rgba(222, 243, 207, 0.65);
}

.event-birthday {
    background-image:url('../img/happy.jpg');
    background-repeat: no-repeat;
    padding-left: 40px;
}

.event-day {
    background-image:url('../img/name-day.jpg');
    background-repeat: no-repeat;
    padding-left: 40px;
}

.event-name {
    padding-left: 6px;
    width: 48.6%;
}

.event-name-birthday,
.event-name-day {
    padding-left: 6px;
    width: 47%;
}

.event-past-time-remaining,
.event-last-time-remaining {
    width: 7.3em;
    display: inline-block;
}

.event-past-time-remaining {
    color: #480a0a;
}

.event-last-time-remaining {
    color: #051a05;
}

.hide-img {
    opacity: 0.7;
    width: 40px;
    position: absolute;
    margin: 0.1em 0.4em;
}

.hide-img:hover {
    opacity: 1;
}

.event-edit {
    display: inline-block;
    margin-right: 0.6em;
    background: rgba(40, 182, 71, 0.18);
    padding: 0 0.2em 0.1em 0.2em;
    cursor: pointer;
}

.event-delete {
    display: inline-block;
    background: rgba(201, 23, 34, 0.23);
    padding: 0 0.2em 0.1em 0.2em;
    color: black;
    text-decoration: none;
}

.note, .other-notes {
    margin: 0 auto;
    width: 90%;
}

.note-title {
    position: absolute;
    background: rgb(214, 255, 252);
    border: 1px solid;
    padding: 0 0.3em 0 0.3em;
    cursor: pointer;
}

.note-area {
    width: 100%;
    margin-bottom: 0.5em;
    background: rgba(211, 232, 255, 0.38);
    padding: 0 0.5em;
}

.other-notes {
    background: rgba(93, 105, 112, 0.25);
    padding: 1em;
}

.logout-btn {
    text-decoration: none;
    padding: 0.4em;
    background: #5d6970;
    color: white;
    border-radius: 0.3em;
}

.telephone {
    margin: 0.2em auto 1em auto;
    padding: 0.3em;
    background: rgba(255, 118, 17, 0.11);
}

.telephone-button-pay {
    padding: 0 1em;
    background: rgba(191, 254, 46, 0.27);
    text-decoration: none;
    color: #051a05;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.75);
    border-radius: 0.3em;
}

