@media screen and (max-width: 800px) {
    .site-nav a {
        font-size: 12px;
    }

    .add-event,
    .event,
    .event-birthday,
    .event-day,
    .add-client,
    .client {
        width: 98%;
        margin: 0.3em;
        padding: 0;
    }

    .message-name,
    .message-date,
    .message-much-time {
        width: auto;
    }

    .add-event {
        display: grid;
        grid-template-columns: 48% 40% auto;
    }

    .add-event-name {
        grid-column: 1 / 3 ;
        grid-row: 1;
    }

    .add-event-days-remaining {
        margin: 0.1em 0.3em;
        grid-column: 3;
        grid-row: 1;
    }

    .add-event-date {
        /*width: 95%;*/
        grid-column: 1;
        grid-row: 2;
    }

    .add-event-category {
        width: 88%;
        margin: 0 0.3em 0.3em 1em;
        grid-column: 2;
        grid-row: 2;
    }

    .add-event-save {
        margin: 0 0.3em;
        width: 15%;
        grid-column: 3;
        grid-row: 2;
    }

    .add-client {
        margin-bottom: 2em;
    }

    .add-name {
        width: 98%;
    }

    .add-client-save {
        position: relative;
        margin: 0.3em;
    }

    .event-name {
        width: 65%;
        margin-left: 0.5em;
    }

    .note {
        width: 98%;
    }

    .note-area {
        padding: 0.1em;
    }

    .add-client,
    .client,
    .client-name {
        display: flex;
        flex-wrap: wrap;
    }

    .client > .client-save {
        margin: 0.1em;
        padding: 0;
        order: 2;
        width: 10%;
        height: 1.5em;
        position: static;
    }

    .add-client-name,
    .client-name {
        width: 87%;
        margin: 0.2em;
    }

    .add-client > .add-client-save {
        order: 2;
        width: 10%;
        margin: 0;
        padding: 0;
        height: 1.6em;
    }

    .add-client > .add-client-zone,
    .client > .client-zone {
        order: 3;
    }

    .add-client > .add-client-region,
    .client > .client-region {
        order: 4;
        width: 58%;
    }

    .add-client > .add-client-address,
    .client > .client-address {
        order: 5;
        width: 98%;
    }

    .search-client,
    .search-address {
        display: block;
    }

    .search {
        width: 98%;
    }

    .search-client-inp,
    .search-address-inp {
        width: 74%;
        margin: 0.3em 0;
    }

    .search-client-btn,
    .search-address-btn {
        width: 20%;
    }

    .search-client {
        padding-right: 0;
    }

    .event-name-birthday,
    .event-name-day {
        margin-left: 40px;
        width: 87%;
    }

    .telephone,
    .message {
        width: 98%;
    }
}
