$body-color: #F0F0F0;
$nav-color: #e3fae0;
$text-gray: #40554b;
$text-white: #ebeef3;
$border-color: #1b1e21;
$message-color: #e0eeb6;
$add-color: #def3cf;
$save-color: #95c684;
$event-color: rgba(238, 237, 165, 0.39);
$telephone-color: rgba(255, 118, 17, 0.11);
$edit-color: rgba(40, 182, 71, 0.18);
$delete-color: rgb(234, 70, 86);
$input-color: #fff5d0;
$textarea-color: rgba(211, 232, 255, 0.38);
$textarea-btn: rgb(214, 255, 252);
$add-client: rgba(103, 143, 86, 0.44);
$search-client: rgba(208, 208, 0, 0.21);
$client: rgba(181, 143, 4, 0.19);
$cars: #dae3e7;
$btn-hover: #599647;
$login-form: #cdc0b1;