{% set date_event_current_year = event_date | date('d.m.') ~ "now" | date('Y') %}
{% set next_year = "now" | date('Y', timezone="Europe/Sofia") + 1 %}
{% set date_next_year = event_date | date('d.m.') ~ next_year %}
{% set event_date_last_month = event_date|date_modify("-1 month")|date("d.m.Y") %}

{# named days and annuals #}
    {% if event.category == 'именден' or event.category == 'ежегодни' %}
        {% if date_event_current_year | date('U', timezone="Europe/Sofia") > "now" | date('U', timezone="Europe/Sofia") %}
            {% set event_date = date_event_current_year %}
        {% else %}
            {% set event_date = date_next_year %}
        {% endif %}
    {% endif %}

{# past time #}
{% if event_date | date('U') < "now" | date('U') %}
    {% set years = "now" | date('Y') - event_date | date('Y') - 1 %}
    {% if date_event_current_year | date('U') < "now" | date('U') %} {# събитието е преди днешната #}
        {% set years = "now" | date('Y') - event_date | date('Y') %}
    {% endif %}

    {% set months = "now" | date('n') - event_date | date('n') %}
    {% if months < 0 %}
        {% set months = 12 + months %}
    {% endif %}
    {% if event_date | date('j') > "now" | date('j') %}
        {% if months == 0 %}
            {% set months = 11 %}
        {% else %}
            {% set months = months - 1 %}
        {% endif %}
    {% endif %}
    {# the day is less than today #}
    {% if event_date | date('j') < "now" | date('j', timezone="Europe/Sofia") %}
        {% set days = "now" | date('j') - event_date | date('j') %}
    {% else %}
        {% set days = "now" | date('t') - event_date | date('j') + "now" | date('j') %}
    {% endif %}

    {# last time #}
{% else %}
    {% set years = event_date | date('Y') - "now" | date('Y') %}
    {% if date_event_current_year | date("U") + 86400 < "now" | date('U') %}
        {% set years = years - 1 %}
    {% endif %}

    {% set months = event_date | date('n') - "now" | date('n') %}
    {% if months < 0 %}
        {% set months = 12 + months %}
    {% endif %}
    {% if event_date | date('j') < "now" | date('j') %}
        {% if months == 0 %}
            {% set months = 11 %}
        {% else %}
            {% set months = months - 1 %}
        {% endif %}
    {% endif %}
    {# the day is bigger than today #}
    {% if event_date | date('j') > "now" | date('j', timezone="Europe/Sofia") %}
        {% set days = event_date | date('j') - "now" | date('j') %}
    {% else %}
        {% set days = event_date_last_month | date('t') - "now" | date('j') + event_date | date('j') %}
    {% endif %}
{% endif %}

{% set event_time_remaining = 'event-past-time-remaining' %}
{% if event_date | date('U') > "now" | date('U') %}
    {% set event_time_remaining = 'event-last-time-remaining' %}
{% endif %}

<div class="{{ event_time_remaining }}">
    {% if "now" | date('d.m') == event_date | date('d.m') %}
        днес
    {% else %}
        {% if years > 0 and event_date | date('Y') != 1900 and event.category != 'именден' and event.category != 'ежегодни' %}
            {{ years }}г.
        {% endif %}
        {% if months > 0 %}
            {{ months }}м.
        {% endif %}
        {% set last_day_month_now = days < "now" | date('t') %}
        {% if days > 0 and days != 31 and last_day_month_now %}
            {{ days }}д.
        {% endif %}
    {% endif %}
</div>
