{% block body %}
    {% set days_remaining = "now" | date('t') - "now" | date('j') + 8 %}
    {% set category = telephone[0].getCategory %}
    {% if("now" | date('j') >= 9 and category == 'неплатен') %}
        <article>
            <form method="post" onSubmit="window.location.reload()" class="telephone">
                {{ 'Виваком' }}
                {{ 'остават: ' ~ days_remaining ~ ' дни' }}
                <button class="telephone-button-pay" type="submit" name="paymentPhone">плати</button>
            </form>
        </article>
    {% endif %}

{% endblock %}