{% block body %}
    {% set days_remaining = "now" | date('t') - "now" | date('j') + 8 %}
    {% set category = telephone[0].getCategory %}
    {% set date_telephone = telephone[0].getDate | date('U') %}
    {% if( category == 'неплатен' ) %}
        <article>
            <form method="post" class="telephone">
                {{ 'Виваком' }}
                {{ 'остават: ' ~ days_remaining ~ ' дни  ' }}
                <a class="telephone-button-pay" href="{{ path('pay_telephone', { id: 234}) }}" title="Плати">плати</a>
            </form>
        </article>
    {% endif %}

{% endblock %}