.o-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .o-messages {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 360px) {
  .o-container {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 361px) and (max-width: 1120px) {
  .o-container {
    max-width: 98%;
    width: 100%;
    margin: 0 auto;
  }
}


